:root {
  --oui-font-family: "DIN2014", sans-serif;

  /* colors */
  --oui-color-primary: 251 0 105;
  --oui-color-primary-light: 255 18 117;
  --oui-color-primary-darken: 164 1 182;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 182 79 255;
  --oui-color-link-light: 208 140 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 254 49 73;
  --oui-color-danger-light: 254 49 73;
  --oui-color-danger-darken: 158 35 50;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 69 178 107;
  --oui-color-success-light: 69 178 107;
  --oui-color-success-darken: 53 130 80;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 182 93;
  --oui-color-warning-light: 255 207 139;
  --oui-color-warning-darken: 255 125 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 32 31 42;
  --oui-color-base-2: 53 57 69;
  --oui-color-base-3: 14 13 13;
  --oui-color-base-4: 32 31 42;
  --oui-color-base-5: 32 31 42;
  --oui-color-base-6: 32 31 42;
  --oui-color-base-7: 32 31 42;
  --oui-color-base-8: 14 13 13;
  --oui-color-base-9: 14 13 13;
  --oui-color-base-10: 18 17 19;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 88 88;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 69 178 107;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 251 0 105;
  --oui-gradient-primary-end: 164 1 182;

  --oui-gradient-secondary-start: 32 31 42;
  --oui-gradient-secondary-end: 119 126 144;

  --oui-gradient-success-start: 0 180 158;
  --oui-gradient-success-end: 0 90 79;

  --oui-gradient-danger-start: 254 49 73;
  --oui-gradient-danger-end: 158 35 50;

  --oui-gradient-brand-start: 251 0 105;
  --oui-gradient-brand-end: 164 1 182;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 190 11;
  --oui-gradient-warning-end: 255 190 11;

  --oui-gradient-neutral-start: 14 13 13;
  --oui-gradient-neutral-end: 32 31 42;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 40px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 11px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;

  /* font sizes */
  --oui-font-size-3xs: 9px;
  --oui-font-size-2xs: 12px;
  --oui-font-size-xs: 14px;
  --oui-font-size-sm: 16px;
  --oui-font-size-base: 16px;
  --oui-font-size-lg: 18px;
  --oui-font-size-xl: 20px;
  --oui-font-size-2xl: 22px;
  --oui-font-size-3xl: 24px;
  --oui-font-size-4xl: 30px;
  --oui-font-size-5xl: 40px;
  --oui-font-size-6xl: 72px;
}
